<br><div>   </div><div class="title">Alia's Fashion</div><br><br>

<div class="ui two column centered grid">
  <div class="two wide column"></div>
  <div class="two wide column">
    <div class="search">
      <form>

        <div class="ui form">
          <div class="field">
            <label>Tags</label>
            <select multiple="" class="ui dropdown">
              <option value="">Select Tag</option>
              <% @image.each do |img|%>
                  <option value="<%=img.tag%>"><%=img.tag%></option>

              <%end%>












            </select>
          </div>
        </div>

      </form>





















      <form class="ui small form" action="/search" method="post">
        <div class="field">
          <input type="text" name="tag" placeholder="Search by Tag">
        </div>
        <button class="ui green button"type="submit" name="push">Search</button>
      </form>
    </div>
  </div>
  <div class="two wide column"></div>
</div>


</div>
<%if session[:visited]%>
    <div class="title">
      <button class="ui blue button" id="addimage">Add Image</button></div><br>
    <div class="ui modal">
      <div class="header">Add Image</div>
      <div class="content">
        <form method="post" >

        </form>
        <form method="post" action="/uploading" enctype='multipart/form-data'>
          Name: <div class="ui input"><input class="ui input" type="text" name="name" placeholer="Name"></div><br><br>
          Add via URL<div class="ui input"> <input type="checkbox" name="uptoggle"></div><br>
          Image URL: <div class="ui input"><input class="ui input" type="text" name="url" placeholer="Image URL"></div><br><br>
          Image Tag: <div class="ui input"><input class="ui input" type="text" name="tag" placeholer="Tag"></div><br><br>
          Caption: <div class="field"><textarea name="caption" placeholder="Type the caption here"></textarea></div><br><br>
          <input type="file" name="myfile">


          <button class="ui button" type="submit">Add to Gallery</button>
        </form>

      </div>
    </div>



<%end%>
<div class="ui centered stackable five column grid">

  <% @image.each do |image|%>
      <div class="column">
        <div class="ui card">
          <a class="image" href="/image/<%=image.id%>">
            <img src="<%=image.url %>">
          </a>

          <div class="content">
            <a >
              <div class="header"><a href="/image/<%=image.id%>"><%=image.name%></a>
                <%if session[:visited] && image.favtoggle==1%>
                    <i id="yellowstar" class="icon star"></i>
                <%end%>
              </div>
            </a>
            </a>
            <div class="meta">
              <span class="date"><%=image.date.strftime("Image posted on %A, %b %d %Y")%></span>
            </div>
            <div class="description">
              <%=image.caption%>
            </div>
          </div>

          <div class="extra content">
            <a>
              <%=image.tag%>
            </a>
          </div>
        </div>
      </div>

  <%end%>

</div>